:root {
  --lighter: #424242;
  --darker: #303030;
  box-sizing: border-box;
}

body {
  background-color: var(--darker);
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--lighter);
  height: 64px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  /* height: calc(100vh - 64px); */
  /* height: calc(100vh - 80px); */
}
.appbar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  letter-spacing: 0.15px;
}
.appLabel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 123.5%;
  letter-spacing: 0.25px;
}
.app {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  position: relative;
}
.app button {
  grid-row: 2;
  height: 96px;
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--lighter);
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  font-style: bold;
  box-shadow: 0px 0px 1px 1px grey, 0px 0px 4px 2px black;
  border-radius: 2px;
}
.app button p {
  padding: 0;
  margin: 5px;
}
.app button:active {
  background-color: var(--darker);
}

.app button:first-of-type {
  grid-row: 1;
}

.historyWrapper {
  text-transform: uppercase;
  word-wrap: normal;
  height: fit-content;
  width: calc(96px * 8 + 70px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.historyTile {
  height: 24px;
  width: 48px;
  box-shadow: 0px 0px 1px 1px grey, 0px 0px 4px 2px black;
  border-radius: 2px;
  background-color: var(--lighter);
  padding: 10px 5px;
  font-size: 0.7rem;

  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  color: white;
  font-family: "Roboto";
  font-style: bold;
  transition: translate 1s ease-out, opacity 1s ease-in;
}
.historyTileStart {
  height: 48px;
  width: 48px;
  box-shadow: 0px 0px 1px 1px grey, 0px 0px 4px 2px black;
  border-radius: 2px;
  background-color: var(--lighter);
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  font-style: bold;
  opacity: 0.5;
  translate: 0 300%;
  transition: translate 1s ease-out, opacity 0.5s ease-in;
}

@media screen and (max-width: 820px) {
  .app {
    /* grid-template-rows:; */
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 5%;
    margin-bottom: 10px;
  }
  .app button {
    grid-row: auto;
    grid-column: auto;
    width: auto;
    height: auto;
  }
  .app button:last-of-type {
    grid-column: 1 / span 2;
    width: auto;
    height: fit-content;
    margin-bottom: 10%;
  }
  .main {
    height: fit-content;
    padding: 0 5%;
  }
  .appLabel {
    font-size: 20px;
  }
  .historyWrapper {
    width: 95%;

    margin-top: 20px;
    gap: 3%;
    row-gap: 10px;
  }
  .historyTile {
    width: 19%;
  }
}
